.hero-landing.masterclasses{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/masterclassBG.jpg") no-repeat;
    background-position: center 40%;
    background-size: cover;
}

.masterclass-body{
       padding: 100px 0;
}

.masterclass-intro{
       width: 980px;
       margin: auto;
       text-align: center;
}
.masterclass-intro h1{
     font-size: 65px;
}

.masterclasses-row{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 50px;
      gap: 30px;
}


.single-masterclass-body{
       padding: 80px 0;
}

.single-masterclass-row{
       display: grid;
       grid-template-columns: 2.5fr 1fr;
       gap: 50px;
}

.masterclass-accordion{
       border: 1px solid gainsboro;
       margin-top: 20px;
}
.masterclass-accordion .accordion-header{
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 20px;
       cursor: pointer;
}
.masterclass-accordion.active .accordion-header{
       border-bottom: 1px solid gainsboro;
}
.accordion-header h3{
       font-size: 25px;
       font-weight: 500;;
}
.masterclass-accordion.active .accordion-header h3,
.masterclass-accordion.active .accordion-header span{
       color: var(--main-color);
}
.accordion-header span{
       font-size: 25px;
       display: flex;
}
.masterclass-accordion .accordion-answer{
       max-height: 0;
       overflow: hidden;
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}
.masterclass-accordion.active .accordion-answer{
       max-height: 600px;
}
.accordion-answer .accordion-answer-inner{
        padding: 20px;
}

.accordion-answer ul{
         width: 90%;
}
.accordion-answer ul li{
       gap: 10px;
       display: flex;
       margin-bottom: 20px;
       line-height: 1.4;
}
.accordion-answer ul li span{
       display: flex;
       margin-top: 1px;
       color: var(--main-color);
}

.masterclass-action{
       border: 1px solid gainsboro;
       height: max-content;
       padding: 30px;
}
.masterclass-action h3{
       font-size: 20px;
       font-weight: 600;
       font-family: var(--bold-font);
}

.checkout-section{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       margin: 20px 0;
}
.checkout-section span{
       border: 1px solid gainsboro;
       display: flex;
       height: 40px;
       font-size: 14px;
       cursor: pointer;
       justify-content: center;
       align-items: center;
       background: rgb(245, 227, 227);
}
.checkout-section h5{
       display: flex;
       align-items: center;
       justify-content: center;
       border-top: 1px solid gainsboro;
       border-bottom: 1px solid gainsboro;
       font-size: 15px;
       font-weight: 400;
}

.masterclass-action h4{
       font-size: 25px;
       font-weight: 600;
}

.masterclass-action h4 span{
       font-size: 16px;
}

.masterclass-action button{
       width: 140px;
       height: 45px;
       background: var(--main-color);
       margin-top: 20px;
       border: 0;
       cursor: pointer;
       color: whitesmoke;
       display: flex;
       align-items: center;
       gap: 5px;
       justify-content: center;
}
.masterclass-action button span{
       display: flex;
}

.modal{
       position: fixed;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       background: rgba(34, 1, 1, 0.751);;
       display: flex;
       align-items: center;
       justify-content: center;
       z-index: -5;
       opacity: 0;
}
.modal.active{
       z-index: 99;
       opacity: 1;
}

.masterclass-checkout{
       background: white;
       height: 90%;
       width: 750px;
}
.checkout-wrapper{
       height: 100%;
       overflow: auto;
}

.checkout-header{
        border-bottom: 1px solid gainsboro;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.checkout-header span{
       width: 40px;
       height: 40px;
       display: flex;
       background-color: rgb(245, 227, 227);
       align-items: center;
       justify-content: center;
       font-size: 20px;
       cursor: pointer;;
}
.checkout-header h3{
       font-size: 22px;
       font-weight: 500;
}
.checkout-form{
       padding: 20px 30px;
}

.checkout-form h3{
       font-size: 20px;
       font-weight: 600;
}
.checkout-form p{
       font-size: 16px;
       color: rgb(50, 50, 50);
       margin: 5px 0px 20px 0px;
}
.checkout-form .form-row{
        margin-bottom: 20px;
}
.checkout-form .form-input{
       border: 1px solid gainsboro;
       display: grid;
       position: relative;
       width: 100%;
       height: 55px;
       padding: 10px;
       display: flex;
       align-items: center;
}
.form-input span{
       font-size: 13px;
       position: absolute;
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}
.form-input span.spany span{
         color: red;
}
.form-input:has(input:focus) span.spany,
.form-input:has(input:valid) span.spany{
       transform: translate(0px, -13px);
       -webkit-transform: translate(0px, -13px);
       -moz-transform: translate(0px, -13px);
       -ms-transform: translate(0px, -13px);
       -o-transform: translate(0px, -13px);
}

.form-input input{
       width: 100%;
       height: 70%;
       position: absolute;
       background: transparent;
       outline: none;
       left: 0;
       top: 10px;
       padding-left: 15px;
       border: 0;
}

.checkout-form select{
       height: 55px;
       width: 100%;
       font-family: var(--regular-font);
       border: 1px solid gainsboro;
       outline: none;
}

.order-summary{
       border-top: 1px solid gainsboro;
       padding: 20px 30px;
}

.order-summary p{
       margin-bottom: 20px;
}
.order-summary .order-strip,
.order-summary .total-strip{
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.order-strip span span,
.total-strip h4 span{
       font-size: 14px;
}

.total-strip h4{
       font-size: 20px;
       font-weight: 500;
}

.order-summary button{
       width: 100%;
       height: 55px;
       margin: 30px 0 20px 0;
       cursor: pointer;
       font-weight: 500;
       color: white;
       background-color: var(--main-color);
       border: 0;
}









@media(max-width: 1090px){
    .masterclass-intro{
          width: 100%;
    }
     .masterclasses-row{
           grid-template-columns: 1fr 1fr;
     }
}

@media(max-width: 768px){
        .masterclasses-row{
               grid-template-columns: 1fr;
        }
        .masterclass-intro h1{
               font-size: 45px;;
        }
}