.hero-landing.masterclasses{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/masterclassBG.jpg") no-repeat;
    background-position: center 40%;
    background-size: cover;
}

.masterclass-body{
       padding: 100px 0;
}

.masterclass-intro{
       width: 980px;
       margin: auto;
       text-align: center;
}
.masterclass-intro h1{
     font-size: 65px;
}

.masterclasses-row{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 50px;
      gap: 30px;
}


@media(max-width: 1090px){
    .masterclass-intro{
          width: 100%;
    }
     .masterclasses-row{
           grid-template-columns: 1fr 1fr;
     }
}

@media(max-width: 768px){
        .masterclasses-row{
               grid-template-columns: 1fr;
        }
        .masterclass-intro h1{
               font-size: 45px;;
        }
}